<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440" />
    <title>Header / 91 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { min-width: 1440px; overflow-x: auto; margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <header class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[80px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px]">
      <div class="w-[1280px] h-[640px] flex flex-col gap-[80px]">
        <div class="w-[1280px] h-[640px] flex flex-col justify-center gap-[8px] bg-[rgba(68,68,68,1.000)]">
          <div class="w-[560px] h-[353px] flex flex-col gap-[32px]">
            <div class="w-[560px] h-[239px] flex flex-col gap-[24px]">
              <h1 class="text-[56px] font-bold leading-[67px] text-[rgba(255,255,255,1.000)] text-left">Medium length hero heading goes here</h1>
              <p class="text-[18px] font-normal leading-[27px] text-[rgba(255,255,255,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            </div>
            <div class="w-[513px] h-[82px] flex flex-col gap-[16px]">
              <div class="w-[513px] h-[48px] flex flex-row gap-[16px]">
                <div class="w-[396px] h-[48px] flex flex-row items-center gap-[8px] p-[12px] border border-[rgba(255,255,255,1.000)]">
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(255,255,255,0.650)] text-left">Enter your email</p>
                </div>
                <button class="w-[101px] h-[48px] flex flex-row justify-center items-center gap-[8px] px-[24px] py-[12px] bg-[rgba(255,255,255,1.000)] border border-[rgba(255,255,255,1.000)] cursor-pointer">
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Sign up</p>
                </button>
              </div>
              <p class="text-[12px] font-normal leading-[18px] text-[rgba(255,255,255,1.000)] text-left">By clicking Sign Up you&#x27;re confirming that you agree with our Terms and Conditions.</p>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
