<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Header / 33 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <header class="w-full flex flex-col md:flex-row justify-center items-center bg-[rgba(68,68,68,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] min-h-[319px] flex flex-col items-center gap-[80px] min-w-0 w-full md:w-1/2">
        <div class="w-[60%] min-h-[319px] flex flex-col items-center gap-[32px]">
          <div class="w-[768px] flex flex-col items-center gap-[24px]">
            <h1 class="text-[56px] font-bold leading-[67px] text-[rgba(255,255,255,1.000)] text-center">Medium length hero heading goes here</h1>
            <p class="text-[18px] font-normal leading-[27px] text-[rgba(255,255,255,1.000)] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
          </div>
          <div class="flex flex-row items-center gap-[24px]">
            <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
            <button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Button</button>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
