<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Topbar should be used alone and features company logo and nav links.</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <h3 class="text-2xl font-normal leading-tight text-black text-left">Topbar should be used alone and features company logo and nav links.</h3>
  </body>
</html>
