<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Topbar sits beside a Level 2 sidebar. Does not include company logo or nav links.</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <h3 class="text-[24px] font-normal leading-[29px] text-[rgba(0,0,0,1.000)] text-left">Topbar sits beside a Level 2 sidebar. Does not include company logo or nav links.</h3>
  </body>
</html>
