<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Description List / 1 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col bg-[rgba(255,255,255,1.000)] mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[1064px] flex flex-col md:flex-row items-end gap-[24px] bg-[rgba(255,255,255,1.000)]">
        <div class="w-[1064px] flex flex-col gap-[8px] w-full md:w-1/2">
          <h3 class="text-[24px] font-bold leading-[34px] text-[rgba(0,0,0,1.000)] text-left">Account</h3>
          <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </div>
      </div>
      <div class="w-[1064px] flex flex-col">
        <div class="w-[1064px] flex flex-col md:flex-row gap-[24px]">
          <div class="w-[49%] flex flex-col gap-[8px] w-full md:w-1/2">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Full name</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Name Surname</p>
          </div>
          <div class="w-[49%] flex flex-col gap-[8px] w-full md:w-1/2">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Website</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">www.relume.io</p>
          </div>
        </div>
        <div class="w-[1064px] flex flex-col md:flex-row gap-[24px]">
          <div class="w-[72%] flex flex-col gap-[8px] w-full md:w-1/2">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">About</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
        </div>
        <div class="w-[1064px] flex flex-col md:flex-row gap-[24px]">
          <div class="w-[49%] flex flex-col gap-[8px] w-full md:w-1/2">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Email address</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">email@example.com</p>
          </div>
          <div class="w-[49%] flex flex-col gap-[8px] w-full md:w-1/2">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Password</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">*******</p>
          </div>
        </div>
        <div class="w-[1064px] flex flex-col md:flex-row gap-[24px]">
          <div class="w-[1064px] flex flex-col gap-[8px] w-full md:w-1/2">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Language</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">English</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
