<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440" />
    <title>Description List / 4 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { min-width: 1440px; overflow-x: auto; margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col p-[32px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] mx-auto max-w-[1440px]">
      <div class="w-[1000px] h-[90px] flex flex-row items-end gap-[24px] bg-[rgba(255,255,255,1.000)]">
        <div class="w-[1000px] h-[66px] flex flex-col gap-[8px]">
          <h3 class="text-[24px] font-bold leading-[34px] text-[rgba(0,0,0,1.000)] text-left">Account</h3>
          <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </div>
      </div>
      <div class="w-[1000px] h-[504px] flex flex-col">
        <div class="w-[1000px] h-[72px] flex flex-row gap-[24px] border border-[rgba(0,0,0,1.000)]">
          <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Full name</p>
          <div class="w-[720px] h-[24px] flex flex-row gap-[24px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Name Surname</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Change</p>
          </div>
        </div>
        <div class="w-[1000px] h-[72px] flex flex-row gap-[24px] border border-[rgba(0,0,0,1.000)]">
          <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Website</p>
          <div class="w-[720px] h-[24px] flex flex-row gap-[24px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">www.relume.io</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Change</p>
          </div>
        </div>
        <div class="w-[1000px] h-[144px] flex flex-row gap-[24px] border border-[rgba(0,0,0,1.000)]">
          <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">About</p>
          <div class="w-[720px] h-[96px] flex flex-row gap-[24px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Change</p>
          </div>
        </div>
        <div class="w-[1000px] h-[72px] flex flex-row gap-[24px] border border-[rgba(0,0,0,1.000)]">
          <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Email address</p>
          <div class="w-[720px] h-[24px] flex flex-row gap-[24px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">email@example.com</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Change</p>
          </div>
        </div>
        <div class="w-[1000px] h-[72px] flex flex-row gap-[24px] border border-[rgba(0,0,0,1.000)]">
          <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Password</p>
          <div class="w-[720px] h-[24px] flex flex-row gap-[24px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">*******</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Change</p>
          </div>
        </div>
        <div class="w-[1000px] h-[72px] flex flex-row gap-[24px] border border-[rgba(0,0,0,1.000)]">
          <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Language</p>
          <div class="w-[720px] h-[24px] flex flex-row gap-[24px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">English</p>
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Change</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
