<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team / 7 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[112px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] min-h-[1076px] flex flex-col gap-[80px]">
        <div class="w-[60%] flex flex-col gap-[16px]">
          <div class="w-[7%] flex flex-col md:flex-row items-center overflow-hidden">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Tagline</p>
          </div>
          <div class="w-[768px] flex flex-col items-center gap-[24px]">
            <h1 class="text-[48px] font-bold leading-[58px] text-[rgba(0,0,0,1.000)] text-left">Our team</h1>
            <p class="text-[18px] font-normal leading-[27px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="w-[1280px] flex flex-col gap-[64px]">
          <div class="hidden md:flex flex-row border-b border-gray-200">
            <button class="border border-gray-900 px-4 py-2 text-sm">Full name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Full name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Full name</button>
          </div>
          <div class="hidden md:flex flex-row border-b border-gray-200">
            <button class="border border-gray-900 px-4 py-2 text-sm">Full name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Full name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Full name</button>
          </div>
        </div>
        <div class="w-[60%] min-h-[157px] flex flex-col gap-[24px]">
          <div class="w-[768px] flex flex-col items-center gap-[16px]">
            <h2 class="text-[32px] font-bold leading-[42px] text-[rgba(0,0,0,1.000)] text-left">We’re hiring!</h2>
            <p class="text-[18px] font-normal leading-[27px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="w-[20%] min-h-[48px] flex flex-col gap-[16px]">
            <button class="w-[155px] flex flex-col md:flex-row justify-center items-center gap-[8px] px-[24px] py-[12px] border border-[rgba(0,0,0,1.000)] overflow-hidden bg-gray-900 text-white px-4 py-2.5 rounded px-[16px] py-[10px] rounded-[8px] mt-auto cursor-pointer">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Open positions</p>
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
