<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FAQ / 1 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20">
        <section class="w-full max-w-screen-md flex flex-col items-center gap-6">
          <h2 class="text-5xl font-bold leading-tight text-black text-center">FAQs</h2>
          <p class="text-lg font-normal leading-normal text-black text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        </section>
        <ul class="w-full max-w-screen-md flex flex-col border border-[rgba(0,0,0,1.000)]">
          <li class="list-none">
            <section class="w-full max-w-screen-md flex flex-col">
              <section class="w-full max-w-screen-md flex flex-col md:flex-row items-center gap-6 border border-[rgba(0,0,0,1.000)] overflow-hidden">
                <p class="text-lg font-bold leading-normal text-black text-left">Question text goes here</p>
                <svg class="w-5 h-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
              </section>
              <section class="w-full max-w-screen-md flex flex-col md:flex-row gap-4 overflow-hidden">
                <p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </section>
            </section>
          </li>
          <li class="list-none">
            <section class="w-full max-w-screen-md flex flex-col">
              <section class="w-full max-w-screen-md flex flex-col md:flex-row items-center gap-6 border border-[rgba(0,0,0,1.000)] overflow-hidden">
                <p class="text-lg font-bold leading-normal text-black text-left">Question text goes here</p>
                <svg class="w-5 h-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
              </section>
              <section class="w-full max-w-screen-md flex flex-col md:flex-row gap-4 overflow-hidden">
                <p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </section>
            </section>
          </li>
          <li class="list-none">
            <section class="w-full max-w-screen-md flex flex-col">
              <section class="w-full max-w-screen-md flex flex-col md:flex-row items-center gap-6 border border-[rgba(0,0,0,1.000)] overflow-hidden">
                <p class="text-lg font-bold leading-normal text-black text-left">Question text goes here</p>
                <svg class="w-5 h-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
              </section>
              <section class="w-full max-w-screen-md flex flex-col md:flex-row gap-4 overflow-hidden">
                <p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </section>
            </section>
          </li>
          <li class="list-none">
            <section class="w-full max-w-screen-md flex flex-col">
              <section class="w-full max-w-screen-md flex flex-col md:flex-row items-center gap-6 border border-[rgba(0,0,0,1.000)] overflow-hidden">
                <p class="text-lg font-bold leading-normal text-black text-left">Question text goes here</p>
                <svg class="w-5 h-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
              </section>
              <section class="w-full max-w-screen-md flex flex-col md:flex-row gap-4 overflow-hidden">
                <p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </section>
            </section>
          </li>
          <li class="list-none">
            <section class="w-full max-w-screen-md flex flex-col">
              <section class="w-full max-w-screen-md flex flex-col md:flex-row items-center gap-6 border border-[rgba(0,0,0,1.000)] overflow-hidden">
                <p class="text-lg font-bold leading-normal text-black text-left">Question text goes here</p>
                <svg class="w-5 h-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
              </section>
              <section class="w-full max-w-screen-md flex flex-col md:flex-row gap-4 overflow-hidden">
                <p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </section>
            </section>
          </li>
        </ul>
        <section class="w-[44%] min-h-39 flex flex-col items-center gap-6">
          <section class="w-96 flex flex-col items-center gap-4">
            <h2 class="text-3xl font-bold leading-snug text-black text-center">Still have questions?</h2>
            <p class="text-lg font-normal leading-normal text-black text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </section>
          <section class="w-[19%] flex flex-col md:flex-row items-center gap-6 overflow-hidden">
            <button class="inline-flex items-center justify-center gap-2 px-6 py-3 border border-black bg-gray-900 text-white rounded-lg cursor-pointer">
              <p class="text-base font-normal leading-normal text-black text-left">Contact</p>
            </button>
          </section>
        </section>
      </div>
    </article>
  </body>
</html>
