<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Header / 59 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <header class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[112px] bg-[rgba(68,68,68,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] flex flex-col gap-[80px]">
        <div class="w-[1280px] flex flex-col md:flex-row gap-[80px]">
          <div class="w-[48%] flex flex-col gap-[16px] w-full md:w-1/2">
            <div class="w-[9%] flex flex-col md:flex-row items-center">
              <p class="text-[16px] font-semibold leading-[24px] text-[rgba(255,255,255,1.000)] text-left">Tagline</p>
            </div>
            <h1 class="text-[56px] font-bold leading-[67px] text-[rgba(255,255,255,1.000)] text-left">Short heading here</h1>
          </div>
          <div class="w-[46%] flex flex-col gap-[32px] w-full md:w-1/2">
            <p class="text-[18px] font-normal leading-[27px] text-[rgba(255,255,255,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            <div class="w-[88%] flex flex-col gap-[16px]">
              <div class="w-[513px] flex flex-col md:flex-row gap-[16px]">
                <div class="w-[77%] flex flex-col md:flex-row items-center gap-[8px] p-[12px] border border-[rgba(255,255,255,1.000)] w-full md:w-1/2">
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(255,255,255,0.650)] text-left">Enter your email</p>
                </div>
                <button class="w-[20%] flex flex-col md:flex-row justify-center items-center gap-[8px] px-[24px] py-[12px] bg-[rgba(255,255,255,1.000)] border border-[rgba(255,255,255,1.000)] w-full md:w-1/2 cursor-pointer">
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Sign up</p>
                </button>
              </div>
              <p class="text-[12px] font-normal leading-[18px] text-[rgba(255,255,255,1.000)] text-left">By clicking Sign Up you&#x27;re confirming that you agree with our Terms and Conditions.</p>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
