<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Header / 55 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <header class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[112px] bg-[rgba(68,68,68,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] flex flex-col gap-[80px]">
        <div class="w-[60%] flex flex-col gap-[24px]">
          <h1 class="text-[56px] font-bold leading-[67px] text-[rgba(255,255,255,1.000)] text-left">Short heading here</h1>
          <p class="text-[18px] font-normal leading-[27px] text-[rgba(255,255,255,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        </div>
      </div>
    </header>
  </body>
</html>
