<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440" />
    <title>Content / 31 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Components are designed for 1440px desktop — render at that width */
      html, body { min-width: 1440px; overflow-x: auto; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased">
    <section class="w-full flex flex-col items-center gap-[64px] px-[64px] py-[112px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px]">
      <div class="w-[1280px] h-[1687px] flex flex-row items-center gap-[10px]">
        <div class="w-[1280px] h-[1687px] flex flex-row gap-[80px]">
          <div class="w-[736px] h-[1687px] flex flex-col">
            <div class="w-[736px] h-[96px] flex flex-col">
              <h1 class="text-[40px] font-[700] leading-[48px] text-[rgba(0,0,0,1.000)] text-left">Introduction</h1>
            </div>
            <div class="w-[736px] h-[88px] flex flex-col">
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At feugiat sapien varius id.</p>
            </div>
            <div class="w-[736px] h-[88px] flex flex-col">
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie aliquet sodales id est ac volutpat.</p>
            </div>
            <div class="w-[736px] h-[533px] flex flex-col items-center gap-[16px]">
              <div class="w-[736px] h-[400px] bg-gray-200" role="img" aria-label="Image placeholder"></div>
              <div class="w-[736px] h-[21px] flex flex-row gap-[8px]">
                <div class="w-[2px] h-[21px] bg-[rgba(0,0,0,1.000)]"></div>
                <p class="text-[14px] font-[400] leading-[21px] text-[rgba(0,0,0,1.000)] text-left">Image caption goes here</p>
              </div>
            </div>
            <div class="w-[736px] h-[120px] flex flex-col">
              <h4 class="text-[20px] font-[700] leading-[28px] text-[rgba(0,0,0,1.000)] text-left">Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet pellentesque aenean hac vestibulum turpis mi bibendum diam. Tempor integer aliquam in vitae malesuada fringilla.</h4>
            </div>
            <div class="w-[736px] h-[136px] flex flex-col">
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur convallis risus. Sed condimentum enim dignissim adipiscing faucibus consequat, urna. Viverra purus et erat auctor aliquam. Risus, volutpat vulputate posuere purus sit congue convallis aliquet. Arcu id augue ut feugiat donec porttitor neque. Mauris, neque ultricies eu vestibulum, bibendum quam lorem id. Dolor lacus, eget nunc lectus in tellus, pharetra, porttitor.</p>
            </div>
            <div class="w-[736px] h-[156px] flex flex-row overflow-hidden">
              <div class="w-[736px] h-[84px] flex flex-row gap-[20px] bg-[rgba(255,255,255,0.000)] overflow-hidden">
                <div class="w-[2px] h-[84px] bg-[rgba(0,0,0,1.000)]"></div>
                <h4 class="text-[20px] font-[400] leading-[28px] text-[rgba(0,0,0,1.000)] text-left">&quot;Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem tempor. Diam elit, orci, tincidunt aenean tempus.&quot;</h4>
              </div>
            </div>
            <div class="w-[736px] h-[112px] flex flex-col">
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Tristique odio senectus nam posuere ornare leo metus, ultricies. Blandit duis ultricies vulputate morbi feugiat cras placerat elit. Aliquam tellus lorem sed ac. Montes, sed mattis pellentesque suscipit accumsan. Cursus viverra aenean magna risus elementum faucibus molestie pellentesque. Arcu ultricies sed mauris vestibulum.</p>
            </div>
            <div class="w-[736px] h-[86px] flex flex-col">
              <h2 class="text-[32px] font-[700] leading-[42px] text-[rgba(0,0,0,1.000)] text-left">Conclusion</h2>
            </div>
            <div class="w-[736px] h-[88px] flex flex-col">
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse.</p>
            </div>
            <div class="w-[736px] h-[88px] flex flex-col">
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas condimentum mi massa. In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit dictum eget nibh tortor commodo cursus.</p>
            </div>
            <div class="w-[736px] h-[96px] flex flex-col">
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet. Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec posuere pharetra odio consequat scelerisque et, nunc tortor.Nulla adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere cursus diam.</p>
            </div>
          </div>
          <div class="w-[464px] h-[306px] flex flex-col p-[32px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden">
            <div class="w-[400px] h-[242px] flex flex-col gap-[16px]">
              <h4 class="text-[20px] font-[700] leading-[28px] text-[rgba(0,0,0,1.000)] text-left">Subscribe to newsletter</h4>
              <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Subscribe to receive the latest blog posts to your inbox every week.</p>
              <div class="w-[400px] h-[134px] flex flex-col gap-[16px]">
                <div class="w-[400px] h-[100px] flex flex-col gap-[16px]">
                  <div class="w-[400px] h-[44px] flex flex-row items-center gap-[8px] px-[12px] py-[10px] border border-[rgba(0,0,0,1.000)]">
                    <p class="text-[16px] font-[400] leading-[24px] text-[rgba(0,0,0,0.600)] text-left">Enter your email</p>
                  </div>
                  <button class="w-[400px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[20px] py-[8px] bg-[rgba(0,0,0,1.000)] border border-[rgba(0,0,0,1.000)]">
                    <p class="text-[16px] font-[400] leading-[24px] text-[rgba(255,255,255,1.000)] text-left">Subscribe</p>
                  </button>
                </div>
                <div class="w-[274px] h-[18px] flex flex-row gap-[4px]">
                  <p class="text-[12px] font-[400] leading-[18px] text-[rgba(0,0,0,1.000)] text-left">By subscribing you agree to with our</p>
                  <p class="text-[12px] font-[400] leading-[18px] text-[rgba(0,0,0,1.000)] text-left">Privacy Policy.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
