<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Content / 8 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col items-center gap-20">
        <section class="w-full max-w-screen-md flex flex-col gap-6">
          <h2 class="text-5xl font-bold leading-tight text-black text-left">Short heading goes here</h2>
          <ul class="w-full max-w-screen-md flex flex-col">
            <li class="list-none">
              <section class="w-full max-w-screen-md flex flex-col">
                <p class="text-base font-normal leading-normal text-black text-left">Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse.</p>
              </section>
            </li>
            <li class="list-none">
              <section class="w-full max-w-screen-md flex flex-col">
                <p class="text-base font-normal leading-normal text-black text-left">Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas condimentum mi massa. In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit dictum eget nibh tortor commodo cursus.</p>
              </section>
            </li>
            <li class="list-none">
              <section class="w-full max-w-screen-md flex flex-col">
                <p class="text-base font-normal leading-normal text-black text-left">Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet. Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec posuere pharetra odio consequat scelerisque et, nunc tortor. Nulla adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere cursus diam.</p>
              </section>
            </li>
          </ul>
        </section>
        <figure class="w-96 h-96 bg-gray-100 rounded-lg flex items-center justify-center" role="img" aria-label="Image placeholder"><svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2" stroke="currentColor" fill="none"/><circle cx="8.5" cy="8.5" r="1.5" fill="currentColor"/><polyline points="21 15 16 10 5 21" stroke="currentColor" fill="none"/></svg></figure>
      </div>
    </article>
  </body>
</html>
