<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Content / 22 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
      <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-20 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col gap-20">
        <div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center gap-20 overflow-hidden">
          <div class="flex flex-col md:flex-row justify-center items-center gap-2 overflow-hidden min-w-0 w-full md:w-1/2">
            <h2 class="text-4xl font-bold leading-tight text-black text-left">Medium length section heading goes here</h2>
          </div>
          <div class="w-full max-w-screen-sm flex flex-col justify-center gap-20 min-w-0 md:w-1/2">
            <ul class="w-full max-w-screen-sm flex flex-col">
              <li class="list-none">
                <div class="w-full max-w-screen-sm flex flex-col">
                  <p class="text-base font-normal leading-normal text-black text-left">Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse.</p>
                </div>
              </li>
              <li class="list-none">
                <div class="w-full max-w-screen-sm flex flex-col">
                  <p class="text-base font-normal leading-normal text-black text-left">Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas condimentum mi massa. In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit dictum eget nibh tortor commodo cursus.</p>
                </div>
              </li>
              <li class="list-none">
                <div class="w-full max-w-screen-sm flex flex-col">
                  <p class="text-base font-normal leading-normal text-black text-left">Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet. Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec posuere pharetra odio consequat scelerisque et, nunc tortor. Nulla adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere cursus diam.</p>
                </div>
              </li>
            </ul>
            <ul class="w-full max-w-screen-sm flex flex-col justify-center items-end border border-black">
              <li class="list-none">
                <div class="w-full max-w-screen-sm flex flex-col md:flex-row justify-between items-center gap-6 border border-black overflow-hidden">
                  <h4 class="text-xl font-bold leading-snug text-black text-left">Label</h4>
                  <p class="text-base font-normal leading-normal text-black text-right">Lorem Ipsum</p>
                </div>
              </li>
              <li class="list-none">
                <div class="w-full max-w-screen-sm flex flex-col md:flex-row justify-between items-center gap-6 border border-black overflow-hidden">
                  <h4 class="text-xl font-bold leading-snug text-black text-left">Label</h4>
                  <p class="text-base font-normal leading-normal text-black text-right">Lorem Ipsum</p>
                </div>
              </li>
              <li class="list-none">
                <div class="w-full max-w-screen-sm flex flex-col md:flex-row justify-between items-center gap-6 border border-black overflow-hidden">
                  <h4 class="text-xl font-bold leading-snug text-black text-left">Label</h4>
                  <p class="text-base font-normal leading-normal text-black text-right">Lorem Ipsum</p>
                </div>
              </li>
              <li class="list-none">
                <div class="w-full max-w-screen-sm flex flex-col md:flex-row justify-between items-center gap-6 border border-black overflow-hidden">
                  <h4 class="text-xl font-bold leading-snug text-black text-left">Label</h4>
                  <p class="text-base font-normal leading-normal text-black text-right">Lorem Ipsum</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
      <script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>