<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Loader / 5 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col items-center gap-[80px] bg-[rgba(0,0,0,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[1440px] flex flex-col gap-[80px] border border-[rgba(255,255,255,1.000)]">
        <div class="w-[20%] h-[48px] flex flex-col bg-[rgba(255,255,255,1.000)]"></div>
      </div>
      <div class="w-[18%] flex flex-col md:flex-row justify-end">
        <h1 class="text-[128px] font-bold leading-[154px] text-[rgba(255,255,255,1.000)] text-center">20</h1>
        <h1 class="text-[128px] font-bold leading-[154px] text-[rgba(255,255,255,1.000)] text-center">%</h1>
      </div>
    </section>
  </body>
</html>
