<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Loader / 2 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col justify-center items-center gap-[80px] bg-[rgba(0,0,0,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <h1 class="text-[48px] font-bold leading-[58px] text-[rgba(255,255,255,1.000)] text-left">First word</h1>
    </section>
  </body>
</html>
