<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Loader / 1 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
      <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col justify-center items-center gap-20 bg-black overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="overflow-hidden">
        <i data-lucide="circle" class="w-5 h-5 flex-shrink-0"></i>
      </div>
    </article>
      <script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>