<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Home / 4 /</title>
<link href="../../dist/tailwind.css" rel="stylesheet"/>
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
<body class="bg-white text-gray-900 antialiased font-sans">
<article class="w-full flex flex-col mx-auto max-w-screen-xl px-5 md:px-20">
<nav class="w-full max-w-screen-xl min-h-96 flex flex-col items-center bg-white overflow-hidden">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-center overflow-hidden">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-center gap-156 overflow-hidden min-w-0 md:w-1/2">
<div class="flex flex-col md:flex-row items-center gap-6 overflow-hidden min-w-0 w-full md:w-1/2">
<div class="w-1/6 overflow-hidden min-w-0 w-full md:w-1/2">
<div class="w-5/6 flex flex-col md:flex-row overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="instagram"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="linkedin"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="youtube"></i>
</div>
</div>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Link One</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Two</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Three</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Four</button>
</div>
</div>
<div class="flex flex-row items-center gap-6">
<button class="bg-gray-900 text-white px-4 py-2.5 rounded">Log in</button>
<button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Start free trial</button>
</div>
</div>
</div>
<nav class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center gap-8 px-16 py-6 border border-black overflow-hidden">
<nav class="flex flex-col md:flex-row gap-8 overflow-hidden min-w-0 w-full md:w-1/2">
<nav class="w-50 flex flex-col gap-4 min-w-0 w-full md:w-1/2">
<p class="text-sm font-semibold leading-normal text-black text-left">Blog categories</p>
<ul class="w-50 flex flex-col gap-4">
<li class="list-none">
<p class="text-base font-normal leading-normal text-black text-left">Category One</p>
</li>
<li class="list-none">
<p class="text-base font-normal leading-normal text-black text-left">Category Two</p>
</li>
<li class="list-none">
<p class="text-base font-normal leading-normal text-black text-left">Category Three</p>
</li>
<li class="list-none">
<p class="text-base font-normal leading-normal text-black text-left">Category Four</p>
</li>
<li class="list-none">
<p class="text-base font-normal leading-normal text-black text-left">Category Five</p>
</li>
</ul>
</nav>
</nav>
<div class="w-full max-w-screen-lg flex flex-col md:flex-row gap-8 overflow-hidden min-w-0 md:w-1/2">
<ul class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row gap-6 overflow-hidden">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<div class="w-85 flex flex-col gap-1">
<p class="text-base font-semibold leading-normal text-black text-left">Article Title</p>
<p class="text-sm font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
<p class="text-sm font-normal leading-normal text-black text-left underline">Read more</p>
</div>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row gap-6 overflow-hidden">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<div class="w-85 flex flex-col gap-1">
<p class="text-base font-semibold leading-normal text-black text-left">Article Title</p>
<p class="text-sm font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
<p class="text-sm font-normal leading-normal text-black text-left underline">Read more</p>
</div>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row gap-6 overflow-hidden">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<div class="w-85 flex flex-col gap-1">
<p class="text-base font-semibold leading-normal text-black text-left">Article Title</p>
<p class="text-sm font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
<p class="text-sm font-normal leading-normal text-black text-left underline">Read more</p>
</div>
</div>
</li>
</ul>
<ul class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row gap-6 overflow-hidden">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<div class="w-85 flex flex-col gap-1">
<p class="text-base font-semibold leading-normal text-black text-left">Article Title</p>
<p class="text-sm font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
<p class="text-sm font-normal leading-normal text-black text-left underline">Read more</p>
</div>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row gap-6 overflow-hidden">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<div class="w-85 flex flex-col gap-1">
<p class="text-base font-semibold leading-normal text-black text-left">Article Title</p>
<p class="text-sm font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
<p class="text-sm font-normal leading-normal text-black text-left underline">Read more</p>
</div>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row gap-6 overflow-hidden">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="flex flex-col gap-2 min-w-0 w-full md:w-1/2">
<div class="w-85 flex flex-col gap-1">
<p class="text-base font-semibold leading-normal text-black text-left">Article Title</p>
<p class="text-sm font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
<p class="text-sm font-normal leading-normal text-black text-left underline">Read more</p>
</div>
</div>
</li>
</ul>
</div>
</nav>
</nav>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20">
<div class="w-full max-w-screen-md min-h-82 flex flex-col gap-8">
<div class="w-full max-w-screen-md flex flex-col gap-6">
<h2 class="text-6xl font-bold leading-tight text-black text-left">Headline that highlights the Value Proposition</h2>
<p class="text-lg font-normal leading-normal text-black text-left">Describe exactly what your product or service does and how it makes customer's lives better. Avoid using verbose words or phrases.</p>
</div>
<div class="w-2/3 min-h-20 flex flex-col gap-4">
<div class="w-96 flex flex-col md:flex-row gap-4 overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
<button class="flex flex-col md:flex-row justify-center items-center gap-2 px-6 py-3 bg-black border border-black overflow-hidden min-w-0 w-full md:w-1/2 bg-gray-900 text-white px-4 py-2.5 rounded rounded-lg cursor-pointer">
<p class="text-base font-normal leading-normal text-white text-left">Start free trial</p>
</button>
</div>
<div class="w-96 flex flex-col md:flex-row gap-1 overflow-hidden">
<p class="text-xs font-normal leading-normal text-black text-left">By clicking Sign Up you're confirming that you agree with our</p>
<p class="text-xs font-normal leading-normal text-black text-left">Terms and Conditions.</p>
</div>
</div>
</div>
<figure aria-label="Image placeholder" class="w-96 h-96 bg-gray-100 rounded-lg flex items-center justify-center" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col items-center gap-20 px-16 py-20 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl flex flex-col gap-20">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row items-center gap-16 overflow-hidden">
<h4 class="text-xl font-bold leading-normal text-black text-left">Trusted by the world's best companies [social proof to build credibility]</h4>
<ul class="w-full max-w-screen-md flex flex-col md:flex-row flex-wrap justify-end items-center gap-8 overflow-hidden min-w-0 md:w-1/2">
<li class="list-none">
<div class="w-1/6 overflow-hidden min-w-0 w-full md:w-1/2">
<figure aria-label="Image placeholder" class="h-6 bg-gray-100 rounded-lg flex items-center justify-center" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</li>
<li class="list-none">
<div class="w-1/6 overflow-hidden min-w-0 w-full md:w-1/2">
<figure aria-label="Image placeholder" class="h-9 bg-gray-100 rounded-lg flex items-center justify-center" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</li>
<li class="list-none">
<div class="w-1/6 overflow-hidden min-w-0 w-full md:w-1/2">
<figure aria-label="Image placeholder" class="h-6 bg-gray-100 rounded-lg flex items-center justify-center" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</li>
<li class="list-none">
<div class="w-1/6 overflow-hidden min-w-0 w-full md:w-1/2">
<figure aria-label="Image placeholder" class="h-9 bg-gray-100 rounded-lg flex items-center justify-center" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</li>
<li class="list-none">
<div class="w-1/6 overflow-hidden min-w-0 w-full md:w-1/2">
<figure aria-label="Image placeholder" class="h-6 bg-gray-100 rounded-lg flex items-center justify-center" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl flex flex-col gap-20">
<div class="w-full max-w-screen-md flex flex-col gap-6">
<h2 class="text-5xl font-bold leading-tight text-black text-left">Highlight the key benefits of using your product or service</h2>
<p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="w-full max-w-screen-xl flex flex-col md:flex-row items-center gap-20 overflow-hidden">
<ul class="w-1/2 flex flex-col gap-10 min-w-0 w-full md:w-1/2">
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row justify-center gap-8 overflow-hidden">
<div class="w-1 h-30 border border-black min-w-0 w-full md:w-1/2"></div>
<div class="flex flex-col justify-center gap-4 overflow-hidden min-w-0 w-full md:w-1/2">
<h3 class="text-2xl font-bold leading-snug text-black text-left">Highlight benefit one</h3>
<p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
</div>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row justify-center gap-8 overflow-hidden">
<div class="w-1 h-30 border border-black min-w-0 w-full md:w-1/2"></div>
<div class="flex flex-col justify-center gap-4 overflow-hidden min-w-0 w-full md:w-1/2">
<h3 class="text-2xl font-bold leading-snug text-black text-left">Highlight benefit two</h3>
<p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
</div>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col md:flex-row justify-center gap-8 overflow-hidden">
<div class="w-1 h-30 border border-black min-w-0 w-full md:w-1/2"></div>
<div class="flex flex-col justify-center gap-4 overflow-hidden min-w-0 w-full md:w-1/2">
<h3 class="text-2xl font-bold leading-snug text-black text-left">Highlight benefit three</h3>
<p class="text-base font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
</div>
</div>
</li>
</ul>
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20">
<h2 class="text-5xl font-bold leading-tight text-black text-left">Highlight key features of the product or service</h2>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Describe feature one and its benefits</button>
<button class="px-4 py-2 text-sm text-gray-500">Describe feature two and its benefits</button>
<button class="px-4 py-2 text-sm text-gray-500">Describe feature three and its benefits</button>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20">
<div class="w-full max-w-screen-md flex flex-col gap-6">
<h2 class="text-4xl font-bold leading-tight text-black text-left">Customer testimonials [social proof]</h2>
</div>
<div class="w-full max-w-screen-xl min-h-85 flex flex-col gap-8">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</button>
<button class="px-4 py-2 text-sm text-gray-500">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</button>
<button class="px-4 py-2 text-sm text-gray-500">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</button>
<button class="px-4 py-2 text-sm text-gray-500">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</button>
<button class="px-4 py-2 text-sm text-gray-500">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</button>
<button class="px-4 py-2 text-sm text-gray-500">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</button>
</div>
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-center gap-10 overflow-hidden">
<ul class="flex flex-col md:flex-row gap-2 overflow-hidden min-w-0 w-full md:w-1/2">
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
</ul>
<button class="w-1/12 flex flex-col md:flex-row gap-4 overflow-hidden min-w-0 w-full md:w-1/2 border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent rounded-lg cursor-pointer">
<svg class="w-5 h-5 flex-shrink-0" fill="currentColor" viewbox="0 0 20 20"><path clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" fill-rule="evenodd"></path></svg>
<svg class="w-5 h-5 flex-shrink-0" fill="currentColor" viewbox="0 0 20 20"><path clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" fill-rule="evenodd"></path></svg>
</button>
</div>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20">
<div class="w-full max-w-screen-md flex flex-col items-center gap-4">
<div class="flex flex-col md:flex-row items-center overflow-hidden">
<p class="text-base font-semibold leading-normal text-black text-center">Tagline</p>
</div>
<div class="w-full max-w-screen-md flex flex-col gap-6">
<h2 class="text-5xl font-bold leading-tight text-black text-left">Pricing plans</h2>
<p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Basic plan</button>
<button class="px-4 py-2 text-sm text-gray-500">Business plan</button>
<button class="px-4 py-2 text-sm text-gray-500">Enterprise plan</button>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-end overflow-hidden">
<div class="w-full max-w-screen-md flex flex-col gap-4 min-w-0 md:w-1/2">
<div class="flex flex-col md:flex-row items-center overflow-hidden">
<p class="text-base font-semibold leading-normal text-black text-left">Blog</p>
</div>
<div class="w-full max-w-screen-md flex flex-col items-center gap-6">
<h2 class="text-5xl font-bold leading-tight text-black text-left">Introduce customer success stories</h2>
<p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
<div class="w-1/12 min-h-12 flex flex-col gap-4 min-w-0 w-full md:w-1/2">
<button class="w-26 flex flex-col md:flex-row justify-center items-center gap-2 px-6 py-3 border border-black overflow-hidden border border-black text-black bg-transparent px-4 py-2.5 rounded rounded-lg mt-auto cursor-pointer">
<p class="text-base font-normal leading-normal text-black text-left">View all</p>
</button>
</div>
</div>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
</div>
</div>
</div>
<footer class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-20 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row gap-32 overflow-hidden">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Tab 1</button>
<button class="px-4 py-2 text-sm text-gray-500">Column One</button>
<button class="px-4 py-2 text-sm text-gray-500">Column Two</button>
<button class="px-4 py-2 text-sm text-gray-500">Column Three</button>
</div>
<div class="min-h-52 flex flex-col gap-6 min-w-0 w-full md:w-1/2">
<div class="w-96 flex flex-col gap-4">
<p class="text-base font-semibold leading-normal text-black text-left">Subscribe</p>
<p class="text-base font-normal leading-normal text-black text-left">Join our newsletter to stay up to date on features and releases.</p>
</div>
<div class="w-96 min-h-24 flex flex-col gap-3">
<div class="w-96 flex flex-col md:flex-row gap-4 overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
<button class="flex flex-col md:flex-row justify-center items-center gap-2 px-6 py-3 border border-black overflow-hidden min-w-0 w-full md:w-1/2 bg-gray-900 text-white px-4 py-2.5 rounded rounded-lg cursor-pointer">
<p class="text-base font-normal leading-normal text-black text-left">Subscribe</p>
</button>
</div>
<p class="text-xs font-normal leading-normal text-black text-left">By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col gap-8">
<div class="w-96 h-0 border border-black"></div>
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between gap-16 overflow-hidden">
<div class="flex flex-col md:flex-row items-center gap-6 overflow-hidden min-w-0 w-full md:w-1/2">
<p class="text-sm font-normal leading-normal text-black text-left">© 2024 Relume. All rights reserved.</p>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Privacy Policy</button>
<button class="px-4 py-2 text-sm text-gray-500">Terms of Service</button>
<button class="px-4 py-2 text-sm text-gray-500">Cookies Settings</button>
</div>
</div>
<ul class="flex flex-col md:flex-row gap-3 overflow-hidden min-w-0 w-full md:w-1/2">
<li class="list-none">
<div class="overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
</div>
</li>
<li class="list-none">
<div class="overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
</div>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="instagram"></i>
</li>
<li class="list-none">
<div class="overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="linkedin"></i>
</div>
</li>
<li class="list-none">
<div class="overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="youtube"></i>
</div>
</li>
</ul>
</div>
</div>
</div>
</footer>
</article>
<script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>