<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Blog / 2 /</title>
<link href="../../dist/tailwind.css" rel="stylesheet"/>
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
<body class="bg-white text-gray-900 antialiased font-sans">
<article class="w-full flex flex-col mx-auto max-w-screen-xl px-5 md:px-20">
<nav class="w-full max-w-screen-xl min-h-18 flex flex-col justify-center items-center bg-white">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-center gap-8 overflow-hidden">
<div class="flex flex-col md:flex-row justify-center items-center overflow-hidden min-w-0 w-full md:w-1/2">
<div class="w-21 overflow-hidden min-w-0 w-full md:w-1/2">
<div class="w-5/6 flex flex-col md:flex-row overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="instagram"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="linkedin"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="youtube"></i>
</div>
</div>
</div>
<div class="w-full max-w-screen-sm flex flex-col md:flex-row justify-center items-center gap-8 overflow-hidden min-w-0 md:w-1/2">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Link One</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Two</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Three</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Four</button>
</div>
<div class="flex flex-row items-center gap-6">
<button class="bg-gray-900 text-white px-4 py-2.5 rounded">Log in</button>
<button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Get started</button>
</div>
</div>
</div>
</nav>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20">
<div class="w-full max-w-screen-md flex flex-col items-center gap-4">
<div class="flex flex-col md:flex-row items-center overflow-hidden">
<p class="text-base font-semibold leading-normal text-black text-center">Blog</p>
</div>
<div class="w-full max-w-screen-md flex flex-col items-center gap-6">
<h2 class="text-6xl font-bold leading-tight text-black text-center">Describe what your blog is about</h2>
<p class="text-lg font-normal leading-normal text-black text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-16">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">View all</button>
<button class="px-4 py-2 text-sm text-gray-500">Category one</button>
<button class="px-4 py-2 text-sm text-gray-500">Category two</button>
<button class="px-4 py-2 text-sm text-gray-500">Category three</button>
<button class="px-4 py-2 text-sm text-gray-500">Category four</button>
</div>
<ul class="w-full max-w-screen-xl flex flex-col items-center gap-16">
<li class="list-none">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
</div>
</li>
<li class="list-none">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
</div>
</li>
<li class="list-none">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
<button class="px-4 py-2 text-sm text-gray-500">Category</button>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-62 flex flex-col items-center gap-20">
<div class="w-full max-w-screen-md min-h-62 flex flex-col items-center gap-8">
<div class="w-full max-w-screen-md flex flex-col items-center gap-6">
<h2 class="text-5xl font-bold leading-tight text-black text-center">Subscribe to our newsletter</h2>
<p class="text-lg font-normal leading-normal text-black text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
</div>
<div class="w-2/3 min-h-20 flex flex-col items-center gap-4">
<div class="w-96 flex flex-col md:flex-row gap-4 overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
<button class="flex flex-col md:flex-row justify-center items-center gap-2 px-6 py-3 bg-black border border-black overflow-hidden min-w-0 w-full md:w-1/2 bg-gray-900 text-white px-4 py-2.5 rounded rounded-lg cursor-pointer">
<p class="text-base font-normal leading-normal text-white text-left">Sign Up</p>
</button>
</div>
<p class="text-xs font-normal leading-normal text-black text-center">By clicking Sign Up you're confirming that you agree with our Terms and Conditions.</p>
</div>
</div>
</div>
</div>
<footer class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-20 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-95 flex flex-col gap-20">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row gap-32 overflow-hidden">
<div class="min-h-51 flex flex-col gap-6 min-w-0 w-full md:w-1/2">
<div class="w-1/6 overflow-hidden">
<div class="w-5/6 flex flex-col md:flex-row overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="instagram"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="linkedin"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="youtube"></i>
</div>
</div>
<p class="text-base font-normal leading-normal text-black text-left">Join our newsletter to stay up to date on features and releases.</p>
<div class="w-96 min-h-24 flex flex-col gap-3">
<div class="w-96 flex flex-col md:flex-row gap-4 overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
<button class="flex flex-col md:flex-row justify-center items-center gap-2 px-6 py-3 border border-black overflow-hidden min-w-0 w-full md:w-1/2 bg-gray-900 text-white px-4 py-2.5 rounded rounded-lg cursor-pointer">
<p class="text-base font-normal leading-normal text-black text-left">Subscribe</p>
</button>
</div>
<p class="text-xs font-normal leading-normal text-black text-left">By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
</div>
</div>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Column One</button>
<button class="px-4 py-2 text-sm text-gray-500">Column Two</button>
<button class="px-4 py-2 text-sm text-gray-500">Follow Us</button>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col gap-8">
<div class="w-96 h-0 border border-black"></div>
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between gap-16 overflow-hidden">
<p class="text-sm font-normal leading-normal text-black text-left">© 2024 Relume. All rights reserved.</p>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Privacy Policy</button>
<button class="px-4 py-2 text-sm text-gray-500">Terms of Service</button>
<button class="px-4 py-2 text-sm text-gray-500">Cookies Settings</button>
</div>
</div>
</div>
</div>
</footer>
</article>
<script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>