<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog / 4 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20">
        <section class="w-full max-w-screen-md flex flex-col items-center gap-4">
          <p class="text-base font-semibold leading-normal text-black text-center">Blog</p>
          <section class="w-full max-w-screen-md flex flex-col items-center gap-6">
            <h2 class="text-6xl font-bold leading-tight text-black text-center">Short heading goes here</h2>
            <p class="text-lg font-normal leading-normal text-black text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </section>
        </section>
        <section class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-16">
          <div class="hidden md:flex flex-row border-b border-gray-200">
            <button class="border border-gray-900 px-4 py-2 text-sm">View all</button>
            <button class="px-4 py-2 text-sm text-gray-500">Category one</button>
            <button class="px-4 py-2 text-sm text-gray-500">Category two</button>
            <button class="px-4 py-2 text-sm text-gray-500">Category three</button>
            <button class="px-4 py-2 text-sm text-gray-500">Category four</button>
          </div>
          <section class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-16">
            <div class="hidden md:flex flex-row border-b border-gray-200">
              <button class="border border-gray-900 px-4 py-2 text-sm">Category</button>
              <button class="px-4 py-2 text-sm text-gray-500">Category</button>
              <button class="px-4 py-2 text-sm text-gray-500">Category</button>
            </div>
            <div class="hidden md:flex flex-row border-b border-gray-200">
              <button class="border border-gray-900 px-4 py-2 text-sm">Category</button>
              <button class="px-4 py-2 text-sm text-gray-500">Category</button>
              <button class="px-4 py-2 text-sm text-gray-500">Category</button>
            </div>
          </section>
        </section>
      </div>
    </article>
  </body>
</html>
