<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logo / 3 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-12 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20 py-20">
      <div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center items-center gap-2 overflow-hidden">
        <p class="text-lg font-bold leading-normal text-black text-center">Used by the world's leading companies</p>
      </div>
      <div class="w-full max-w-screen-xl overflow-hidden">
        <ul class="flex gap-12 items-center min-w-max">
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Notion</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Vercel</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Netlify</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Shopify</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Webflow</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Stripe</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Zapier</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">HubSpot</span></li>
          <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Mailchimp</span></li>
        </ul>
      </div>
    </article>
  </body>
</html>