<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logo / 3 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-12 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center items-center gap-2 overflow-hidden">
        <p class="text-lg font-bold leading-normal text-black text-center">Used by the world&#x27;s leading companies</p>
      </div>
      <section class="w-full max-w-screen-xl flex flex-col items-center">
        <ul class="w-full max-w-screen-2xl flex flex-col md:flex-row justify-center items-center gap-6 overflow-hidden">
          <li class="list-none">
            <section class="w-[13%] overflow-hidden min-w-0 w-full md:w-1/2">
              <img src="../../assets/logos/notion.svg" alt="Notion" class="h-8 w-auto object-contain opacity-70">
            </section>
          </li>
          <li class="list-none">
            <section class="w-[13%] overflow-hidden min-w-0 w-full md:w-1/2">
              <img src="../../assets/logos/vercel.svg" alt="Vercel" class="h-8 w-auto object-contain opacity-70">
            </section>
          </li>
          <li class="list-none">
            <section class="w-[13%] overflow-hidden min-w-0 w-full md:w-1/2">
              <img src="../../assets/logos/netlify.svg" alt="Netlify" class="h-8 w-auto object-contain opacity-70">
            </section>
          </li>
          <li class="list-none">
            <section class="w-[13%] overflow-hidden min-w-0 w-full md:w-1/2">
              <img src="../../assets/logos/shopify.svg" alt="Shopify" class="h-8 w-auto object-contain opacity-70">
            </section>
          </li>
          <li class="list-none">
            <section class="w-[13%] overflow-hidden min-w-0 w-full md:w-1/2">
              <img src="../../assets/logos/webflow.svg" alt="Webflow" class="h-8 w-auto object-contain opacity-70">
            </section>
          </li>
          <li class="list-none">
            <section class="w-[13%] overflow-hidden min-w-0 w-full md:w-1/2">
              <img src="../../assets/logos/stripe.svg" alt="Stripe" class="h-8 w-auto object-contain opacity-70">
            </section>
          </li>
          <li class="list-none">
            <section class="w-[13%] overflow-hidden min-w-0 w-full md:w-1/2">
              <img src="../../assets/logos/airbnb.svg" alt="Airbnb" class="h-8 w-auto object-contain opacity-70">
            </section>
          </li>
        </ul>
      </section>
    </article>
  </body>
</html>
