<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logo / 2 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-20 px-16 py-20 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col gap-20">
        <section class="w-full max-w-screen-xl flex flex-col md:flex-row items-center gap-16 overflow-hidden">
          <p class="text-lg font-bold leading-normal text-black text-left">Used by the world's leading companies</p>
          <ul class="w-full max-w-screen-md flex flex-col md:flex-row flex-wrap justify-end items-center gap-8 overflow-hidden min-w-0 md:w-1/2">
            <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">LinkedIn</span></li>
            <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">X</span></li>
            <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Meta</span></li>
            <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Adobe</span></li>
            <li class="list-none"><span class="text-lg font-bold leading-normal text-black opacity-70">Figma</span></li>
          </ul>
        </section>
      </div>
    </article>
  </body>
</html>
