<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logo / 6 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-12 px-16 py-20 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col items-center gap-12">
        <p class="text-lg font-bold leading-normal text-black text-center">Used by the world's leading companies</p>
        <ul class="w-full max-w-screen-xl flex flex-col md:flex-row flex-wrap gap-8 mt-8 overflow-hidden">
          <li class="list-none w-full md:w-1/3"><span class="text-lg font-bold leading-normal text-black opacity-70">Airbnb</span></li>
          <li class="list-none w-full md:w-1/3"><span class="text-lg font-bold leading-normal text-black opacity-70">Google</span></li>
          <li class="list-none w-full md:w-1/3"><span class="text-lg font-bold leading-normal text-black opacity-70">Microsoft</span></li>
          <li class="list-none w-full md:w-1/3"><span class="text-lg font-bold leading-normal text-black opacity-70">Apple</span></li>
          <li class="list-none w-full md:w-1/3"><span class="text-lg font-bold leading-normal text-black opacity-70">Amazon</span></li>
          <li class="list-none w-full md:w-1/3"><span class="text-lg font-bold leading-normal text-black opacity-70">Netflix</span></li>
        </ul>
      </div>
    </article>
  </body>
</html>
