<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout / 424 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col justify-center items-center gap-[80px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] flex flex-col justify-center items-center gap-[16px]">
        <div class="w-[4%] flex flex-col md:flex-row items-center overflow-hidden">
          <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-center">Tagline</p>
        </div>
        <h1 class="text-[96px] font-bold leading-[115px] text-[rgba(0,0,0,1.000)] text-center">Heading one</h1>
      </div>
    </section>
  </body>
</html>
