<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout / 486 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-28 px-16 py-28 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <ul class="w-full max-w-screen-xl min-h-96 flex flex-col justify-center gap-28">
        <li class="list-none">
          <section class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center items-center gap-20 overflow-hidden">
            <h2 class="text-6xl font-bold leading-tight text-black text-left">01</h2>
            <section class="w-full max-w-screen-md min-h-87 flex flex-col gap-8 min-w-0 md:w-1/2">
              <div class="w-full max-w-screen-md bg-black/10 overflow-hidden">
                <div class="w-[3%] h-1 bg-black overflow-hidden"></div>
              </div>
              <section class="w-full max-w-screen-md min-h-64 flex flex-col gap-8">
                <section class="w-full max-w-screen-md flex flex-col gap-4">
                  <div class="w-[6%] flex flex-col md:flex-row items-center overflow-hidden">
                    <p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
                  </div>
                  <section class="w-full max-w-screen-md flex flex-col gap-6">
                    <h2 class="text-5xl font-bold leading-tight text-black text-left">Medium length section heading goes here</h2>
                    <p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                  </section>
                </section>
                <div class="flex flex-row items-center gap-6">
                  <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
                  <button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Button →</button>
                </div>
              </section>
            </section>
          </section>
        </li>
        <li class="list-none">
          <section class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center items-center gap-20 overflow-hidden">
            <h2 class="text-6xl font-bold leading-tight text-black text-left">02</h2>
            <section class="w-full max-w-screen-md min-h-87 flex flex-col gap-8 min-w-0 md:w-1/2">
              <div class="w-full max-w-screen-md bg-black/10 overflow-hidden">
                <div class="w-[3%] h-1 bg-black overflow-hidden"></div>
              </div>
              <section class="w-full max-w-screen-md min-h-64 flex flex-col gap-8">
                <section class="w-full max-w-screen-md flex flex-col gap-4">
                  <div class="w-[6%] flex flex-col md:flex-row items-center overflow-hidden">
                    <p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
                  </div>
                  <section class="w-full max-w-screen-md flex flex-col gap-6">
                    <h2 class="text-5xl font-bold leading-tight text-black text-left">Medium length section heading goes here</h2>
                    <p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                  </section>
                </section>
                <div class="flex flex-row items-center gap-6">
                  <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
                  <button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Button →</button>
                </div>
              </section>
            </section>
          </section>
        </li>
        <li class="list-none">
          <section class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center items-center gap-20 overflow-hidden">
            <h2 class="text-6xl font-bold leading-tight text-black text-left">03</h2>
            <section class="w-full max-w-screen-md min-h-87 flex flex-col gap-8 min-w-0 md:w-1/2">
              <div class="w-full max-w-screen-md bg-black/10 overflow-hidden">
                <div class="w-[3%] h-1 bg-black overflow-hidden"></div>
              </div>
              <section class="w-full max-w-screen-md min-h-64 flex flex-col gap-8">
                <section class="w-full max-w-screen-md flex flex-col gap-4">
                  <div class="w-[6%] flex flex-col md:flex-row items-center overflow-hidden">
                    <p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
                  </div>
                  <section class="w-full max-w-screen-md flex flex-col gap-6">
                    <h2 class="text-5xl font-bold leading-tight text-black text-left">Medium length section heading goes here</h2>
                    <p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                  </section>
                </section>
                <div class="flex flex-row items-center gap-6">
                  <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
                  <button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Button →</button>
                </div>
              </section>
            </section>
          </section>
        </li>
        <li class="list-none">
          <section class="w-full max-w-screen-xl flex flex-col md:flex-row justify-center items-center gap-20 overflow-hidden">
            <h2 class="text-6xl font-bold leading-tight text-black text-left">04</h2>
            <section class="w-full max-w-screen-md min-h-87 flex flex-col gap-8 min-w-0 md:w-1/2">
              <div class="w-full max-w-screen-md bg-black/10 overflow-hidden">
                <div class="w-[3%] h-1 bg-black overflow-hidden"></div>
              </div>
              <section class="w-full max-w-screen-md min-h-64 flex flex-col gap-8">
                <section class="w-full max-w-screen-md flex flex-col gap-4">
                  <div class="w-[6%] flex flex-col md:flex-row items-center overflow-hidden">
                    <p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
                  </div>
                  <section class="w-full max-w-screen-md flex flex-col gap-6">
                    <h2 class="text-5xl font-bold leading-tight text-black text-left">Medium length section heading goes here</h2>
                    <p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                  </section>
                </section>
                <div class="flex flex-row items-center gap-6">
                  <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
                  <button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Button →</button>
                </div>
              </section>
            </section>
          </section>
        </li>
      </ul>
    </article>
  </body>
</html>
