<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout / 36 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[112px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] flex flex-col gap-[80px]">
        <div class="w-[44%] flex flex-col gap-[24px]">
          <h1 class="text-[40px] font-bold leading-[48px] text-[rgba(0,0,0,1.000)] text-left">Long heading is what you see here in this feature section</h1>
          <p class="text-[18px] font-normal leading-[27px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        </div>
      </div>
    </section>
  </body>
</html>
