<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout / 424 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col justify-center items-center gap-20 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col justify-center items-center gap-4">
        <div class="w-[4%] flex flex-col md:flex-row items-center overflow-hidden">
          <p class="text-base font-semibold leading-normal text-black text-center">Tagline</p>
        </div>
        <h2 class="text-6xl font-bold leading-tight text-black text-center">Heading one</h2>
      </div>
    </article>
  </body>
</html>
