<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout / 169 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[112px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] min-h-[312px] flex flex-col gap-[80px]">
        <div class="w-[1280px] flex flex-col md:flex-row gap-[64px] overflow-hidden">
          <div class="w-[48%] min-h-[312px] flex flex-col items-center gap-[32px] min-w-0 w-full md:w-1/2">
            <div class="w-[608px] flex flex-col items-center gap-[16px]">
              <div class="w-[9%] flex flex-col md:flex-row items-center overflow-hidden">
                <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-center">Tagline</p>
              </div>
              <div class="w-[608px] flex flex-col items-center gap-[24px]">
                <h1 class="text-[40px] font-bold leading-[48px] text-[rgba(0,0,0,1.000)] text-center">Medium length section heading goes here</h1>
                <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
              </div>
            </div>
            <div class="flex flex-row items-center gap-[24px]">
              <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
              <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
            </div>
          </div>
          <div class="w-[48%] min-h-[312px] flex flex-col items-center gap-[32px] min-w-0 w-full md:w-1/2">
            <div class="w-[608px] flex flex-col items-center gap-[16px]">
              <div class="w-[9%] flex flex-col md:flex-row items-center overflow-hidden">
                <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-center">Tagline</p>
              </div>
              <div class="w-[608px] flex flex-col items-center gap-[24px]">
                <h1 class="text-[40px] font-bold leading-[48px] text-[rgba(0,0,0,1.000)] text-center">Medium length section heading goes here</h1>
                <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
              </div>
            </div>
            <div class="flex flex-row items-center gap-[24px]">
              <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
              <button class="bg-gray-900 text-white px-4 py-2.5 rounded">Button</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
