<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout / 236 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[112px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[89%] min-h-[508px] flex flex-col gap-[80px]">
        <div class="hidden md:flex flex-row border-b border-gray-200">
          <button class="border border-gray-900 px-4 py-2 text-sm">Long heading is what you see here in this feature section</button>
          <button class="px-4 py-2 text-sm text-gray-500">Long heading is what you see here in this feature section</button>
          <button class="px-4 py-2 text-sm text-gray-500">Long heading is what you see here in this feature section</button>
        </div>
      </div>
    </section>
  </body>
</html>
