<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stats / 8 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col gap-20">
        <h2 class="text-4xl font-bold leading-tight text-black text-left">Long heading is what you see here in this feature section</h2>
        <div class="hidden md:flex flex-row border-b border-gray-200">
          <button class="border border-gray-900 px-4 py-2 text-sm">30%</button>
          <button class="px-4 py-2 text-sm text-gray-500">30%</button>
          <button class="px-4 py-2 text-sm text-gray-500">30%</button>
        </div>
      </div>
    </article>
  </body>
</html>