<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440" />
    <title>Contact Modal / 2 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { min-width: 1440px; overflow-x: auto; margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-row justify-center items-center bg-[rgba(0,0,0,0.250)] overflow-hidden mx-auto max-w-[1440px]">
      <div class="w-[768px] h-[1130px] flex flex-col items-center gap-[48px] p-[64px] bg-[rgba(255,255,255,1.000)] overflow-hidden">
        <div class="w-[640px] h-[101px] flex flex-col items-center gap-[16px]">
          <h1 class="text-[48px] font-bold leading-[58px] text-[rgba(0,0,0,1.000)] text-center">Contact us</h1>
          <p class="text-[18px] font-normal leading-[27px] text-[rgba(0,0,0,1.000)] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="w-[640px] h-[853px] flex flex-col items-center gap-[24px]">
          <div class="w-[640px] h-[80px] flex flex-row gap-[24px]">
            <div class="w-[308px] h-[80px] flex flex-col gap-[8px]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">First name</p>
              <div class="w-[308px] h-[48px] flex flex-row items-center gap-[8px] p-[12px] border border-[rgba(0,0,0,1.000)]"></div>
            </div>
            <div class="w-[308px] h-[80px] flex flex-col gap-[8px]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Last name</p>
              <div class="w-[308px] h-[48px] flex flex-row items-center gap-[8px] p-[12px] border border-[rgba(0,0,0,1.000)]"></div>
            </div>
          </div>
          <div class="w-[640px] h-[80px] flex flex-row gap-[24px]">
            <div class="w-[308px] h-[80px] flex flex-col gap-[8px]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Email</p>
              <div class="w-[308px] h-[48px] flex flex-row items-center gap-[8px] p-[12px] border border-[rgba(0,0,0,1.000)]"></div>
            </div>
            <div class="w-[308px] h-[80px] flex flex-col gap-[8px]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Phone number</p>
              <div class="w-[308px] h-[48px] flex flex-row items-center gap-[8px] p-[12px] border border-[rgba(0,0,0,1.000)]"></div>
            </div>
          </div>
          <div class="w-[640px] h-[80px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Choose a topic</p>
            <div class="w-[640px] h-[48px] flex flex-row items-center gap-[16px] p-[12px] border border-[rgba(0,0,0,1.000)]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Select one...</p>
              <div class="w-[24px] h-[24px] overflow-hidden">
                <div class="w-[12px] h-[7px] bg-gray-400 rounded-sm flex-shrink-0" role="img" aria-label="Icon placeholder"></div>
              </div>
            </div>
          </div>
          <div class="w-[640px] h-[172px] flex flex-col gap-[16px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Which best describes you?</p>
            <div class="w-[640px] h-[100px] flex flex-col gap-[14px]">
              <div class="w-[640px] h-[24px] flex flex-row gap-[24px]">
                <div class="w-[308px] h-[24px] flex flex-row items-center gap-[12px]">
                  <div class="w-[18px] h-[18px] rounded-[100px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden"></div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">First choice</p>
                </div>
                <div class="w-[308px] h-[24px] flex flex-row items-center gap-[12px]">
                  <div class="w-[18px] h-[18px] rounded-[100px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden"></div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Second choice</p>
                </div>
              </div>
              <div class="w-[640px] h-[24px] flex flex-row gap-[24px]">
                <div class="w-[308px] h-[24px] flex flex-row items-center gap-[12px]">
                  <div class="w-[18px] h-[18px] rounded-[100px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden"></div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Third choice</p>
                </div>
                <div class="w-[308px] h-[24px] flex flex-row items-center gap-[12px]">
                  <div class="w-[18px] h-[18px] rounded-[100px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden"></div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Fourth choice</p>
                </div>
              </div>
              <div class="w-[640px] h-[24px] flex flex-row gap-[24px]">
                <div class="w-[308px] h-[24px] flex flex-row items-center gap-[12px]">
                  <div class="w-[18px] h-[18px] rounded-[100px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden"></div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Fifth choice</p>
                </div>
                <div class="w-[308px] h-[24px] flex flex-row items-center gap-[12px]">
                  <div class="w-[18px] h-[18px] rounded-[100px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden"></div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Other</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-[640px] h-[212px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Message</p>
            <div class="w-[640px] h-[180px] flex flex-row p-[12px] border border-[rgba(0,0,0,1.000)]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,0.600)] text-left">Type your message...</p>
              <div class="w-[2px] h-[2px] border border-[rgba(0,0,0,1.000)]"></div>
              <div class="w-[6px] h-[6px] border border-[rgba(0,0,0,1.000)]"></div>
            </div>
          </div>
          <div class="w-[640px] h-[37px] flex flex-row items-center gap-[8px]">
            <div class="w-[18px] h-[18px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)] overflow-hidden"></div>
            <p class="text-[14px] font-normal leading-[21px] text-[rgba(0,0,0,1.000)] text-left">I accept the Terms</p>
          </div>
          <button class="w-[99px] h-[48px] flex flex-row justify-center items-center gap-[8px] px-[24px] py-[12px] bg-[rgba(0,0,0,1.000)] border border-[rgba(0,0,0,1.000)] cursor-pointer">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(255,255,255,1.000)] text-left">Submit</p>
          </button>
        </div>
      </div>
      <div class="w-[32px] h-[32px] overflow-hidden">
        <div class="w-[24px] h-[24px] overflow-hidden">
          <div class="w-[13px] h-[13px] bg-gray-400 rounded-sm flex-shrink-0" role="img" aria-label="Icon placeholder"></div>
        </div>
      </div>
    </section>
  </body>
</html>
