<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Radius</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
      <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col gap-16 p-16 bg-white mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-row items-center overflow-hidden">
        <div class="w-1/12 overflow-hidden min-w-0">
          <div class="w-5/6 flex flex-row overflow-hidden">
            <i data-lucide="circle" class="w-5 h-5 flex-shrink-0"></i>
            <i data-lucide="circle" class="w-5 h-5 flex-shrink-0"></i>
            <i data-lucide="circle" class="w-5 h-5 flex-shrink-0"></i>
            <i data-lucide="circle" class="w-5 h-5 flex-shrink-0"></i>
            <i data-lucide="circle" class="w-5 h-5 flex-shrink-0"></i>
          </div>
        </div>
      </div>
      <div class="w-full max-w-screen-lg flex flex-col gap-6">
        <h2 class="text-6xl font-bold leading-tight text-black text-left">Radius</h2>
      </div>
      <div class="w-full max-w-screen-xl flex flex-col gap-20">
        <div class="w-full max-w-screen-xl flex flex-col gap-10">
          <div class="w-full max-w-screen-xl flex flex-col gap-2">
            <h2 class="text-3xl font-bold leading-snug text-black text-left">Large</h2>
            <p class="text-lg font-normal leading-normal text-black text-left">Large radius is applied to elements which are 1 or 2 columns in width.</p>
          </div>
          <div class="w-full max-w-screen-xl flex flex-row gap-8 overflow-hidden">
            <div class="h-96 bg-white border border-black overflow-hidden min-w-0"></div>
            <div class="h-96 bg-white border border-black overflow-hidden min-w-0"></div>
          </div>
        </div>
        <div class="w-full max-w-screen-xl flex flex-col gap-10">
          <div class="w-full max-w-screen-xl flex flex-col gap-2">
            <h2 class="text-3xl font-bold leading-snug text-black text-left">Medium</h2>
            <p class="text-lg font-normal leading-normal text-black text-left">Medium radius is applied to elements which are between 2 and 3 columns in width.</p>
          </div>
          <ul class="w-full max-w-screen-xl flex flex-row gap-8 overflow-hidden">
            <li class="list-none">
              <div class="h-96 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
            <li class="list-none">
              <div class="h-96 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
            <li class="list-none">
              <div class="h-96 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
          </ul>
        </div>
        <div class="w-full max-w-screen-xl flex flex-col gap-10">
          <div class="w-full max-w-screen-xl flex flex-col gap-2">
            <h2 class="text-3xl font-bold leading-snug text-black text-left">Small</h2>
            <p class="text-lg font-normal leading-normal text-black text-left">Small radius is applied to elements which are smaller than 4 columns in width.</p>
          </div>
          <ul class="w-full max-w-screen-xl flex flex-row gap-8 overflow-hidden">
            <li class="list-none">
              <div class="h-48 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
            <li class="list-none">
              <div class="h-48 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
            <li class="list-none">
              <div class="h-48 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
            <li class="list-none">
              <div class="h-48 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
            <li class="list-none">
              <div class="h-48 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
            <li class="list-none">
              <div class="h-48 bg-white border border-black overflow-hidden min-w-0"></div>
            </li>
          </ul>
        </div>
      </div>
    </article>
      <script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>