<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sidebar sits beside a Level 1 Topbar. Includes a company logo but does not have search or a user avatar.</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <h3 class="text-2xl font-normal leading-tight text-black text-left">Sidebar sits beside a Level 1 Topbar. Includes a company logo but does not have search or a user avatar.</h3>
  </body>
</html>