<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Sidebar / 6 /</title>
<link href="../../dist/tailwind.css" rel="stylesheet"/>
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
<body class="bg-white text-gray-900 antialiased font-sans">
<article class="w-full flex flex-col px-4 py-6 bg-white border border-black mx-auto max-w-screen-xl px-5 md:px-20">
<nav class="flex flex-col items-center gap-6">
<div class="overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
</div>
<ul class="w-10 flex flex-col">
<li class="list-none">
<nav class="w-10 flex flex-col md:flex-row items-center gap-1 p-2 bg-white overflow-hidden">
<div class="w-3/5 overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
</div>
</nav>
</li>
<li class="list-none">
<nav class="w-10 flex flex-col md:flex-row items-center gap-1 p-2 overflow-hidden">
<svg class="w-5 h-5 flex-shrink-0" fill="currentColor" viewbox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81H7.03a1 1 0 00.95-.69l1.07-3.292z"></path></svg>
</nav>
</li>
<li class="list-none">
<nav class="w-10 flex flex-col md:flex-row items-center gap-1 p-2 overflow-hidden">
<div class="w-3/5 overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
</div>
</nav>
</li>
<li class="list-none">
<nav class="w-10 flex flex-col md:flex-row items-center gap-1 p-2 overflow-hidden">
<div class="w-3/5 overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
</div>
</nav>
</li>
<li class="list-none">
<nav class="w-10 flex flex-col md:flex-row items-center gap-1 p-2 overflow-hidden">
<div class="w-3/5 overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="instagram"></i>
</div>
</nav>
</li>
</ul>
</nav>
<nav class="flex flex-col gap-6">
<nav class="w-10 flex flex-col">
<nav class="w-10 flex flex-col md:flex-row items-center gap-1 p-2 overflow-hidden">
<div class="w-3/5 overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
</div>
</nav>
<nav class="w-10 flex flex-col md:flex-row items-center gap-1 p-2 overflow-hidden">
<div class="w-3/5 overflow-hidden min-w-0 w-full md:w-1/2">
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
</div>
</nav>
</nav>
</nav>
</article>
<script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>