<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Banner / 13 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col items-center px-[64px] py-[112px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px] px-[20px] md:px-[80px]">
      <div class="w-[1708px] flex flex-col">
        <h1 class="text-[96px] font-bold leading-[115px] text-[rgba(0,0,0,1.000)] text-center">Medium length banner heading goes here</h1>
        <h1 class="text-[96px] font-bold leading-[115px] text-[rgba(0,0,0,1.000)] text-center">Medium length banner heading goes here</h1>
      </div>
    </section>
  </body>
</html>
