<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Banner / 5 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
      <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl flex flex-col md:flex-row items-center gap-4 px-4 py-2 bg-white border border-black overflow-hidden">
        <div class="w-full max-w-screen-lg flex flex-col md:flex-row justify-center overflow-hidden min-w-0 md:w-1/2">
          <p class="text-base font-normal leading-normal text-black text-center">Medium length banner heading with link goes here</p>
        </div>
        <div class="overflow-hidden min-w-0 w-full md:w-1/2">
          <i data-lucide="circle" class="w-5 h-5 flex-shrink-0"></i>
        </div>
      </div>
    </article>
      <script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>