<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>About / 5 /</title>
<link href="../../dist/tailwind.css" rel="stylesheet"/>
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
<body class="bg-white text-gray-900 antialiased font-sans">
<article class="w-full flex flex-col mx-auto max-w-screen-xl px-5 md:px-20">
<nav class="w-full max-w-screen-xl min-h-18 flex flex-col justify-center items-center bg-white">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-center gap-8 overflow-hidden">
<div class="flex flex-col md:flex-row justify-center items-center overflow-hidden min-w-0 w-full md:w-1/2">
<div class="w-21 overflow-hidden min-w-0 w-full md:w-1/2">
<div class="w-5/6 flex flex-col md:flex-row overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="instagram"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="linkedin"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="youtube"></i>
</div>
</div>
</div>
<div class="w-full max-w-screen-sm flex flex-col md:flex-row justify-center items-center gap-8 overflow-hidden min-w-0 md:w-1/2">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Link One</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Two</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Three</button>
<button class="px-4 py-2 text-sm text-gray-500">Link Four</button>
</div>
<div class="flex flex-row items-center gap-6">
<button class="bg-gray-900 text-white px-4 py-2.5 rounded">Log in</button>
<button class="border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent">Get started</button>
</div>
</div>
</div>
</nav>
<figure aria-label="Image placeholder" class="w-full max-w-screen-xl flex flex-row justify-center items-center px-6 md:overflow-hidden bg-gray-100 rounded-lg h-80 md:h-96" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="w-full max-w-screen-xl flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl flex flex-col gap-20">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row items-center gap-20 overflow-hidden">
<div class="w-full md:w-1/2 flex flex-col gap-8 min-w-0">
<div class="w-full max-w-2xl flex flex-col gap-4">
<div class="w-1/12 flex flex-col md:flex-row items-center overflow-hidden">
<p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
</div>
<div class="w-full max-w-2xl flex flex-col gap-6">
<h2 class="text-5xl font-bold leading-tight text-black text-left">About [company name]</h2>
<p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue. Nibh metus a semper purus mauris duis. Lorem eu neque, tristique quis duis. Nibh scelerisque ac adipiscing velit non nulla in amet pellentesque. Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo vitae.

Amet pellentesque sit pulvinar lorem mi a, euismod risus rhoncus. Elementum ullamcorper nec, habitasse vulputate. Eget dictum quis est sed egestas tellus, a lectus. Quam ullamcorper in fringilla arcu aliquet fames arcu.Lacinia eget faucibus urna, nam risus nec elementum cras porta. Sed elementum, sed dolor purus dolor dui. Ut dictum nulla pulvinar vulputate sit sagittis in eleifend dignissim. Natoque mauris cras molestie velit. Maecenas eget adipiscing quisque viverra lectus arcu, tincidunt ultrices pellentesque.</p>
</div>
</div>
</div>
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20">
<div class="w-full max-w-screen-md flex flex-col gap-4">
<div class="flex flex-col md:flex-row items-center overflow-hidden">
<p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
</div>
<div class="w-full max-w-screen-md flex flex-col items-center gap-6">
<h2 class="text-5xl font-bold leading-tight text-black text-left">Introduce your team</h2>
<p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
<div class="w-full max-w-screen-xl min-h-92 flex flex-col gap-12">
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Full name</button>
<button class="px-4 py-2 text-sm text-gray-500">Full name</button>
<button class="px-4 py-2 text-sm text-gray-500">Full name</button>
<button class="px-4 py-2 text-sm text-gray-500">Full name</button>
<button class="px-4 py-2 text-sm text-gray-500">Full name</button>
<button class="px-4 py-2 text-sm text-gray-500">Full name</button>
</div>
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-center gap-10 overflow-hidden">
<ul class="flex flex-col md:flex-row gap-2 overflow-hidden min-w-0 w-full md:w-1/2">
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
</ul>
<button class="w-1/12 flex flex-col md:flex-row gap-4 overflow-hidden min-w-0 w-full md:w-1/2 border border-gray-900 text-gray-900 px-4 py-2.5 rounded bg-transparent rounded-lg cursor-pointer">
<svg class="w-5 h-5 flex-shrink-0" fill="currentColor" viewbox="0 0 20 20"><path clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" fill-rule="evenodd"></path></svg>
<svg class="w-5 h-5 flex-shrink-0" fill="currentColor" viewbox="0 0 20 20"><path clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" fill-rule="evenodd"></path></svg>
</button>
</div>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl flex flex-col items-center gap-20">
<div class="w-full max-w-screen-md flex flex-col items-center gap-8 overflow-hidden">
<ul class="flex flex-col md:flex-row gap-1 overflow-hidden">
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
<li class="list-none">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
</li>
</ul>
<h3 class="text-2xl font-bold leading-snug text-black text-center">"A customer testimonial that highlights features and answers potential customer doubts about your product or service. Showcase testimonials from a similar demographic to your customers."</h3>
<div class="flex flex-col md:flex-row items-center gap-5 overflow-hidden">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
<div class="flex flex-col min-w-0 w-full md:w-1/2">
<p class="text-base font-semibold leading-normal text-black text-left">Name Surname</p>
<p class="text-base font-normal leading-normal text-black text-left">Position, Company name</p>
</div>
<div class="w-1 h-15 border border-black min-w-0 w-full md:w-1/2"></div>
<div class="overflow-hidden min-w-0 w-full md:w-1/2">
<figure aria-label="Image placeholder" class="h-5 bg-gray-100 rounded-lg flex items-center justify-center" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</div>
</div>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl flex flex-col gap-20">
<div class="w-full max-w-screen-md flex flex-col gap-4">
<div class="flex flex-col md:flex-row items-center overflow-hidden">
<p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
</div>
<div class="w-full max-w-screen-md flex flex-col items-center gap-6">
<h2 class="text-5xl font-bold leading-tight text-black text-left">Our locations</h2>
<p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col md:flex-row gap-20 overflow-hidden">
<ul class="flex flex-col gap-10 min-w-0 w-full md:w-1/2">
<li class="list-none">
<div class="w-96 flex flex-col justify-center gap-6 bg-white border border-black overflow-hidden">
<div class="flex flex-col gap-4">
<h3 class="text-2xl font-bold leading-snug text-black text-left">Sydney</h3>
<p class="text-base font-normal leading-normal text-black text-left">123 Sample St, Sydney NSW 2000 AU</p>
</div>
<p class="text-base font-semibold leading-normal text-black text-left">View Map</p>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col justify-center gap-6 overflow-hidden">
<div class="flex flex-col gap-4">
<h3 class="text-2xl font-bold leading-snug text-black text-left">New York</h3>
<p class="text-base font-normal leading-normal text-black text-left">123 Sample St, New York NY 10000 USA</p>
</div>
<p class="text-base font-semibold leading-normal text-black text-left">View Map</p>
</div>
</li>
<li class="list-none">
<div class="w-96 flex flex-col justify-center gap-6 overflow-hidden">
<div class="flex flex-col gap-4">
<h3 class="text-2xl font-bold leading-snug text-black text-left">London</h3>
<p class="text-base font-normal leading-normal text-black text-left">123 Sample St, London W1C 1DE, United Kingdom</p>
</div>
<p class="text-base font-semibold leading-normal text-black text-left">View Map</p>
</div>
</li>
</ul>
<div class="w-full max-w-screen-sm flex flex-col md:flex-row gap-2 overflow-hidden min-w-0 md:w-1/2">
<figure aria-label="Image placeholder" class="w-full md:w-1/2 overflow-hidden bg-gray-100 rounded-lg flex items-center justify-center h-60" role="img"><svg class="w-12 h-12 text-gray-400" fill="none" stroke="currentColor" stroke-width="1" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="18" rx="2" ry="2" stroke="currentColor" width="18" x="3" y="3"></rect><circle cx="8.5" cy="8.5" fill="currentColor" r="1.5"></circle><polyline fill="none" points="21 15 16 10 5 21" stroke="currentColor"></polyline></svg></figure>
</div>
</div>
</div>
</div>
<footer class="w-full max-w-screen-xl min-h-96 flex flex-col items-center gap-20 px-16 py-20 bg-white overflow-hidden">
<div class="w-full max-w-screen-xl min-h-95 flex flex-col gap-20">
<div class="w-full max-w-screen-xl flex flex-col md:flex-row gap-32 overflow-hidden">
<div class="min-h-51 flex flex-col gap-6 min-w-0 w-full md:w-1/2">
<div class="w-1/6 overflow-hidden">
<div class="w-5/6 flex flex-col md:flex-row overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="facebook"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="twitter"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="instagram"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="linkedin"></i>
<i class="w-5 h-5 flex-shrink-0" data-lucide="youtube"></i>
</div>
</div>
<p class="text-base font-normal leading-normal text-black text-left">Join our newsletter to stay up to date on features and releases.</p>
<div class="w-96 min-h-24 flex flex-col gap-3">
<div class="w-96 flex flex-col md:flex-row gap-4 overflow-hidden">
<i class="w-5 h-5 flex-shrink-0" data-lucide="circle"></i>
<button class="flex flex-col md:flex-row justify-center items-center gap-2 px-6 py-3 border border-black overflow-hidden min-w-0 w-full md:w-1/2 bg-gray-900 text-white px-4 py-2.5 rounded rounded-lg cursor-pointer">
<p class="text-base font-normal leading-normal text-black text-left">Subscribe</p>
</button>
</div>
<p class="text-xs font-normal leading-normal text-black text-left">By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
</div>
</div>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Column One</button>
<button class="px-4 py-2 text-sm text-gray-500">Column Two</button>
<button class="px-4 py-2 text-sm text-gray-500">Follow Us</button>
</div>
</div>
<div class="w-full max-w-screen-xl flex flex-col gap-8">
<div class="w-96 h-0 border border-black"></div>
<div class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between gap-16 overflow-hidden">
<p class="text-sm font-normal leading-normal text-black text-left">© 2024 Relume. All rights reserved.</p>
<div class="hidden md:flex flex-row border-b border-gray-200">
<button class="border border-gray-900 px-4 py-2 text-sm">Privacy Policy</button>
<button class="px-4 py-2 text-sm text-gray-500">Terms of Service</button>
<button class="px-4 py-2 text-sm text-gray-500">Cookies Settings</button>
</div>
</div>
</div>
</div>
</footer>
</article>
<script>if(window.lucide){lucide.createIcons();}</script>
</body>
</html>