<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product / 8 /</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <article class="w-full flex flex-col items-center gap-20 px-16 py-28 bg-white overflow-hidden mx-auto max-w-screen-xl px-5 md:px-20">
      <div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-20">
        <section class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-end overflow-hidden">
          <section class="w-full max-w-screen-md flex flex-col gap-4 min-w-0 md:w-1/2">
            <div class="w-[7%] flex flex-col md:flex-row items-center overflow-hidden">
              <p class="text-base font-semibold leading-normal text-black text-left">Tagline</p>
            </div>
            <section class="w-full max-w-screen-md flex flex-col items-center gap-4">
              <h2 class="text-5xl font-bold leading-tight text-black text-left">Products</h2>
              <p class="text-lg font-normal leading-normal text-black text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
          </section>
          <div class="w-1/12 min-h-12 flex flex-col gap-6 min-w-0 w-full md:w-1/2">
            <button class="w-26 flex flex-col md:flex-row justify-center items-center gap-2 px-6 py-3 border border-[rgba(0,0,0,1.000)] overflow-hidden bg-gray-900 text-white px-4 py-2.5 rounded rounded-lg mt-auto cursor-pointer">
              <p class="text-base font-normal leading-normal text-black text-left">View all</p>
            </button>
          </div>
        </section>
        <div class="w-full max-w-screen-xl min-h-96 flex flex-col gap-16">
          <div class="hidden md:flex flex-row border-b border-gray-200">
            <button class="border border-gray-900 px-4 py-2 text-sm">Product name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Product name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Product name</button>
          </div>
          <div class="hidden md:flex flex-row border-b border-gray-200">
            <button class="border border-gray-900 px-4 py-2 text-sm">Product name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Product name</button>
            <button class="px-4 py-2 text-sm text-gray-500">Product name</button>
          </div>
        </div>
      </div>
    </article>
  </body>
</html>
