@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}
