<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440" />
    <title>Event / 32 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { min-width: 1440px; overflow-x: auto; margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-col items-center gap-[80px] px-[64px] py-[112px] bg-[rgba(255,255,255,1.000)] overflow-hidden mx-auto max-w-[1440px]">
      <div class="w-[1280px] h-[656px] flex flex-col items-center gap-[80px]">
        <div class="w-[768px] h-[176px] flex flex-col items-center gap-[16px]">
          <div class="w-[53px] h-[24px] flex flex-row items-center">
            <p class="text-[16px] font-semibold leading-[24px] text-[rgba(0,0,0,1.000)] text-center">Tagline</p>
          </div>
          <div class="w-[768px] h-[136px] flex flex-col items-center gap-[24px]">
            <h1 class="text-[48px] font-bold leading-[58px] text-[rgba(0,0,0,1.000)] text-center">Schedule</h1>
            <p class="text-[18px] font-normal leading-[27px] text-[rgba(0,0,0,1.000)] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
        </div>
        <div class="w-[1280px] h-[400px] flex flex-col items-center gap-[48px]">
          <div class="w-[323px] h-[40px] flex flex-row items-center">
            <div class="w-[103px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[16px] py-[8px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Fri 09 Feb</p>
            </div>
            <div class="w-[108px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[16px] py-[8px]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Sat 10 Feb</p>
            </div>
            <div class="w-[112px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[16px] py-[8px]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Sun 11 Feb</p>
            </div>
          </div>
          <div class="w-[1280px] h-[312px] flex flex-col gap-[48px]">
            <div class="w-[1280px] h-[312px] flex flex-col">
              <div class="w-[1280px] h-[104px] flex flex-row items-center gap-[32px] border border-[rgba(0,0,0,1.000)]">
                <h4 class="text-[20px] font-normal leading-[30px] text-[rgba(0,0,0,1.000)] text-left">8:00 am</h4>
                <div class="w-[993px] h-[34px] flex flex-row items-center gap-[16px]">
                  <div class="w-[641px] h-[34px] flex flex-row items-center gap-[16px]">
                    <h3 class="text-[24px] font-bold leading-[34px] text-[rgba(0,0,0,1.000)] text-left">Event title heading</h3>
                    <div class="w-[150px] h-[29px] flex flex-row items-center gap-[16px]">
                      <div class="w-[77px] h-[29px] flex flex-row px-[8px] py-[4px] bg-[rgba(238,238,238,1.000)]">
                        <p class="text-[14px] font-semibold leading-[21px] text-[rgba(0,0,0,1.000)] text-left">In-person</p>
                      </div>
                      <div class="w-[57px] h-[29px] flex flex-row px-[8px] py-[4px] bg-[rgba(238,238,238,1.000)]">
                        <p class="text-[14px] font-semibold leading-[21px] text-[rgba(0,0,0,1.000)] text-left">Online</p>
                      </div>
                    </div>
                  </div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Speaker</p>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Location</p>
                </div>
                <button class="w-[127px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[20px] py-[8px] border border-[rgba(0,0,0,1.000)] bg-gray-900 text-white px-[16px] py-[10px] rounded-[8px] cursor-pointer">
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">View details</p>
                </button>
              </div>
              <div class="w-[1280px] h-[104px] flex flex-row items-center gap-[32px] border border-[rgba(0,0,0,1.000)]">
                <h4 class="text-[20px] font-normal leading-[30px] text-[rgba(0,0,0,1.000)] text-left">9:00 am</h4>
                <div class="w-[993px] h-[34px] flex flex-row items-center gap-[16px]">
                  <div class="w-[641px] h-[34px] flex flex-row items-center gap-[16px]">
                    <h3 class="text-[24px] font-bold leading-[34px] text-[rgba(0,0,0,1.000)] text-left">Event title heading</h3>
                    <div class="w-[57px] h-[29px] flex flex-row items-center gap-[16px]">
                      <div class="w-[57px] h-[29px] flex flex-row px-[8px] py-[4px] bg-[rgba(238,238,238,1.000)]">
                        <p class="text-[14px] font-semibold leading-[21px] text-[rgba(0,0,0,1.000)] text-left">Online</p>
                      </div>
                    </div>
                  </div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Speaker</p>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Location</p>
                </div>
                <button class="w-[127px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[20px] py-[8px] border border-[rgba(0,0,0,1.000)] bg-gray-900 text-white px-[16px] py-[10px] rounded-[8px] cursor-pointer">
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">View details</p>
                </button>
              </div>
              <div class="w-[1280px] h-[104px] flex flex-row items-center gap-[32px] border border-[rgba(0,0,0,1.000)]">
                <h4 class="text-[20px] font-normal leading-[30px] text-[rgba(0,0,0,1.000)] text-left">10:00 am</h4>
                <div class="w-[993px] h-[34px] flex flex-row items-center gap-[16px]">
                  <div class="w-[641px] h-[34px] flex flex-row items-center gap-[16px]">
                    <h3 class="text-[24px] font-bold leading-[34px] text-[rgba(0,0,0,1.000)] text-left">Event title heading</h3>
                    <div class="w-[57px] h-[29px] flex flex-row items-center gap-[16px]">
                      <div class="w-[57px] h-[29px] flex flex-row px-[8px] py-[4px] bg-[rgba(238,238,238,1.000)]">
                        <p class="text-[14px] font-semibold leading-[21px] text-[rgba(0,0,0,1.000)] text-left">Online</p>
                      </div>
                    </div>
                  </div>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Speaker</p>
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Location</p>
                </div>
                <button class="w-[127px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[20px] py-[8px] border border-[rgba(0,0,0,1.000)] bg-gray-900 text-white px-[16px] py-[10px] rounded-[8px] cursor-pointer">
                  <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">View details</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
