<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440" />
    <title>Form / 4 /</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html, body { min-width: 1440px; overflow-x: auto; margin: 0; padding: 0; }
    </style>
  </head>
  <body class="bg-white text-gray-900 antialiased font-sans">
    <section class="w-full flex flex-row gap-[48px] bg-[rgba(255,255,255,1.000)] mx-auto max-w-[1440px]">
      <div class="w-[436px] h-[90px] flex flex-row items-end gap-[24px] bg-[rgba(255,255,255,1.000)]">
        <div class="w-[436px] h-[90px] flex flex-col gap-[8px]">
          <h3 class="text-[24px] font-bold leading-[34px] text-[rgba(0,0,0,1.000)] text-left">Account</h3>
          <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </div>
      </div>
      <div class="w-[580px] h-[1113px] flex flex-col gap-[24px] p-[32px] bg-[rgba(255,255,255,1.000)] border border-[rgba(0,0,0,1.000)]">
        <div class="w-[516px] h-[961px] flex flex-col gap-[24px]">
          <div class="w-[516px] h-[112px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Photo</p>
            <div class="w-[240px] h-[80px] flex flex-row items-center gap-[24px]">
              <div class="w-[80px] h-[80px] bg-gray-200" role="img" aria-label="Image placeholder"></div>
              <button class="w-[136px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[20px] py-[8px] border border-[rgba(0,0,0,1.000)] bg-gray-900 text-white px-[16px] py-[10px] rounded-[8px] cursor-pointer">
                <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Upload photo</p>
              </button>
            </div>
          </div>
          <div class="w-[516px] h-[80px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Username</p>
            <div class="w-[516px] h-[48px] flex flex-row items-center gap-[8px] p-[12px] border border-[rgba(0,0,0,1.000)]"></div>
          </div>
          <div class="w-[516px] h-[80px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Website</p>
            <div class="w-[516px] h-[48px] flex flex-row border border-[rgba(0,0,0,1.000)]">
              <div class="w-[68px] h-[48px] flex flex-row items-center gap-[8px] px-[12px] py-[8px]">
                <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">http://</p>
              </div>
              <div class="h-[48px] border border-[rgba(0,0,0,1.000)]"></div>
              <div class="w-[448px] h-[48px] flex flex-row items-center gap-[8px] px-[12px] py-[8px]">
                <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,0.600)] text-left">www.relume.io</p>
              </div>
            </div>
          </div>
          <div class="w-[516px] h-[80px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Email address</p>
            <div class="w-[516px] h-[48px] flex flex-row items-center gap-[12px] p-[12px] border border-[rgba(0,0,0,1.000)]">
              <div class="w-[24px] h-[24px] overflow-hidden">
                <div class="w-[20px] h-[16px] bg-gray-400 rounded-sm flex-shrink-0" role="img" aria-label="Icon placeholder"></div>
              </div>
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,0.600)] text-left">email@example.com</p>
              <div class="w-[24px] h-[24px] overflow-hidden">
                <div class="w-[20px] h-[20px] bg-gray-400 rounded-sm flex-shrink-0" role="img" aria-label="Icon placeholder"></div>
              </div>
            </div>
          </div>
          <div class="w-[516px] h-[241px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">About</p>
            <div class="w-[516px] h-[180px] flex flex-row p-[12px] border border-[rgba(0,0,0,1.000)]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,0.600)] text-left">Type your message...</p>
              <div class="w-[2px] h-[2px] border border-[rgba(0,0,0,1.000)]"></div>
              <div class="w-[6px] h-[6px] border border-[rgba(0,0,0,1.000)]"></div>
            </div>
            <p class="text-[14px] font-normal leading-[21px] text-[rgba(0,0,0,1.000)] text-left">263 characters left</p>
          </div>
          <div class="w-[516px] h-[144px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Password</p>
            <div class="w-[516px] h-[112px] flex flex-col gap-[16px]">
              <div class="w-[516px] h-[48px] flex flex-row items-center gap-[8px] px-[12px] py-[8px] border border-[rgba(0,0,0,1.000)]">
                <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,0.600)] text-left">Current password</p>
                <div class="w-[24px] h-[24px] overflow-hidden">
                  <div class="w-[20px] h-[20px] bg-gray-400 rounded-sm flex-shrink-0" role="img" aria-label="Icon placeholder"></div>
                </div>
              </div>
              <div class="w-[516px] h-[48px] flex flex-row items-center gap-[8px] px-[12px] py-[8px] border border-[rgba(0,0,0,1.000)]">
                <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,0.600)] text-left">New password</p>
                <div class="w-[24px] h-[24px] overflow-hidden">
                  <div class="w-[20px] h-[20px] bg-gray-400 rounded-sm flex-shrink-0" role="img" aria-label="Icon placeholder"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-[516px] h-[80px] flex flex-col gap-[8px]">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Language</p>
            <div class="w-[516px] h-[48px] flex flex-row items-center gap-[16px] p-[12px] border border-[rgba(0,0,0,1.000)]">
              <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Select one...</p>
              <div class="w-[24px] h-[24px] overflow-hidden">
                <div class="w-[12px] h-[7px] bg-gray-400 rounded-sm flex-shrink-0" role="img" aria-label="Icon placeholder"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-[516px] h-[64px] flex flex-row justify-end gap-[16px]">
          <button class="w-[89px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[20px] py-[8px] border border-[rgba(0,0,0,1.000)] bg-gray-900 text-white px-[16px] py-[10px] rounded-[8px] cursor-pointer">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(0,0,0,1.000)] text-left">Cancel</p>
          </button>
          <button class="w-[75px] h-[40px] flex flex-row justify-center items-center gap-[8px] px-[20px] py-[8px] bg-[rgba(0,0,0,1.000)] border border-[rgba(0,0,0,1.000)] cursor-pointer">
            <p class="text-[16px] font-normal leading-[24px] text-[rgba(255,255,255,1.000)] text-left">Save</p>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
